extends ../master
block content
  .box
    h2.title New Task
    form(action="/tasks",name="add", method="POST")
      != csrfField()
      .field.has-addons
        .control.is-expanded
          input.input(type="text", name="title", value=old("name", ""), placeholder="Task title")
        .control
          button.button.is-primary(type="submit")
            | Add Task
      if hasErrorFor("title")
        p.help.is-danger
          = getErrorFor("title")
  if old("notification")
    .notification.is-success
      = old("notification")
  .box
    h1.title Task List
    table.table.is-bordered.is-striped.is-narrow.is-fullwidth
      thead
        tr
          th SN
          th Title
          th Action
      tbody
        each task, index in tasks
          tr
            td
              = index + 1
            td
              = task.title
            td
              form(action="/tasks/" + task.id + "?_method=DELETE", method="POST")
                != csrfField()
                button.button.is-danger.is-outlined
                  span DELETE
                  span.icon.is-small
                    i.fa.fa-times(aria-hidden="true")
        else
          tr
            td.has-text-centered(colspan="3") No task created yet!

